echo "# Gestion_Ejercicios_6A" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/carmenjama96/Gestion_Ejercicios_6A.git
git push -u origin master
